[tool.ruff]
exclude = [
  ".git",
  ".hg",
  ".mypy_cache",
  ".tox",
  ".venv",
  "venv",
  "_build",
  "buck-out",
  "build",
  "dist",
]
# Assume Python 3.9
target-version = "py39"
line-length = 120


[tool.ruff.format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "space"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

[tool.ruff.lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
select = [
    # Pyflakes
    "F",
    # pycodestyle
    "E",
    # pycodestyle
    "W",
    # pyupgrade
    "UP",
    # flake8-bugbear
    "B",
    # flake8-simplify
    "SIM",
    # isort
    "I",
    "C4",
    "PERF",
    "TID",
    "SLF",
    "RSE",
    "RET",
    "PYI",
    "T20",
    "PIE",
    "A",
    "INP",
    "FLY",
    "ERA",

    # TYPE ANNOTATIONS
    # "ANN",
    # OPENABLE
    "ARG",
    "S",
    # PROBLEMATIC
#    "TRY",
#    "PL",
]
ignore = [
    "E501",
    "B008",
    "B904",
    "S101",
    "SIM105",
    "C901",
    "ARG001",
    "PERF401",
    "W191", # indentation contains tabs
]

# Allow fix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

# Allow unused variables when underscore-prefixed.
dummy-variable-rgx = "^(_+|(_+[a-zA-Z0-9_]*[a-zA-Z0-9]+?))$"

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]
"app/database/migrations/*" = ["T201", "INP001", "F841", "ERA001"]
"**/{schemas,models}/*" = ["A003"]
